<%- include("./partials/header.ejs") %>
    <div class="w-full min-h-screen px-5 lg:px-44">
        <div class="w-full h-96 my-5">
            <img class="w-full h-full object-contain bg-black" loading="lazy"
            src="https://i.pinimg.com/564x/9c/68/92/9c68926cd34960a3cec36e8fb97c7a46.jpg" alt="">
        </div>
        <div class="collection w-full border-t border-black/80">
            <div class="w-full text-center py-4">
                <h2 class="font-bold text-xl tracking-wide">SUMMER COLLECTION</h2>
            </div>
            <div class="products w-full flex flex-wrap justify-center gap-3 text-center">
                <% if(products.length > 0){ %>
                    <% products.forEach(function(product){ %>
                        <a href="/product/<%= product._id %>" class="product w-[32%]">
                            <div class="w-full h-90 overflow-hidden">
                            <img class="w-full h-full object-cover" loading="lazy" src="data:<%= product.mimetype %>;base64, <%= product.productImage.toString('base64') %>" alt="">
                            </div>
                            <h2 class="text-sm font-semibold py-2 pb-1"><%= product.productName %></h2>
                            <h3 class="flex gap-3 justify-center pt-2 py-4">
                                <span class="font-semibold text-lg line-through">RS. <%= product.price %>.00</span>
                                <span class="font-semibold text-lg ">RS. <%= product.discount > 0 ? Math.round(product.price * (1 - product.discount/100)) : product.price %>.00</span>
                            </h3>
                        </a>
                    <%}) %>
                <% } %>
            </div>
        </div>
    </div>
    <%- include("./partials/footer.ejs") %>